form {
    display: inline-block;
}

input {
    background-color: darkgrey;
    margin-left: 2%;
    border-radius: 15px;
    text-align: center;
}

.btn {
    margin-top: 5px;
}

.reg-form {
    display: block;
}